*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
        linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
        linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    margin: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
h1{
    color: rgb(58, 57, 57);
}

a{
    font-size: 25px;
    font-weight: bold;
    border: 2px solid gray;
    padding: 5px;
    border-radius: 5px;
}
a:hover{
    background: white;
    
}

/*Ex 02*/
.main-card {
    max-width: 600px;
    margin: 20px auto;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section-title {
    font-size: 24px;
    text-align: center;
    color: #333;
}

.row {
    margin-bottom: 15px;
}

.bold-text {
    font-weight: bold;
}

.form-elements-position {
    display: flex;
    flex-direction: column;
}

.inputs-position {
    margin-bottom: 15px;
}

.input-label {
    font-size: 14px;
    margin-bottom: 5px;
}

.input-style {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.button-style {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-style:disabled {
    background-color: #95a5a6;
    cursor: not-allowed;
}

@media (max-width: 768px) {
    .main-card {
        max-width: 100%;
        margin: 10px;
    }
}

/*EX 03*/
.button-style {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.button-style:hover {
    background-color: #45a049;
}

.select-style {
    padding: 10px;
    margin-top: 10px;
}

.table-style {
    
    border-collapse: collapse;
    margin-top: 20px;
}

.table-style th, .table-style td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table-style th {
    background-color: #4caf50;
    color: white;
}

.result-container {
    margin-top: 20px;
}